*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: #000000;
}

header img{
    width: 15%;
}

.img-logo-espaço{
    margin: 0 0 40px 150px;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 50px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 30px;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
}

nav a{
    color: #b71212;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
    color: #faf3f3;
}

h1 , h2{
    text-align: center;
    background: radial-gradient(rgb(218, 20, 20), rgba(11, 11, 11, 0.8));
    padding: 15px;
    margin: 0 0 1em;
    color: rgb(248, 249, 249);
    text-transform: uppercase;
}

section{
    background: #000000;  
}

.conteudo p{
    text-align: center;
    color: #d4d3d3;
    font-size: 21px;
    font-family: 'Montserrat', sans-serif;
    padding: 15px;
    width: 940px;
    margin: 0 auto;
    padding-bottom: 2em;
}

strong{
    color: #b71212;
    font-style: italic;
}



.titulos{
    width: 940px;
    margin: 0 auto;
    padding-top: 2em;
}

.imagem-flamengo{
    width: 400px;
	float: left;
	margin: 0 80px 0 0; 
    
}

.lista-itens{
    font-size: 25px;   
    list-style-type: none;
}

.itens{
    color: #d4d3d3;
    padding: 4px;
}

.itens::before{
    content: "🏆";
}

.localizacao-mapa{
    padding: 3em 0;
    background: #000000;  
}

.mapa{
    width: 940px;
    margin: 0 auto;
    padding-top: 2em;
}

footer {
    background: #000000;
	padding: 30px 0;
    font-family: 'Montserrat', sans-serif;
}

footer h3{
    color: #ff1922;
    font-size: 22px;  
    padding-bottom: 40px;
    font-weight: bold;
    text-align: center;
    padding-top: 2em;
    
}


.img-apoio{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 5em;
}


.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 0 0;
    list-style: none;

}


.paragrafo-rodape{
    font-size: 16px;  
    padding: 15px;
    font-weight: bold;
    color: rgb(102, 99, 99);
}



.rodape li a {
	font-size: 16px;  
    font-weight: bold;  
    padding: 20px;
    color: rgb(102, 99, 99);
}

.rodape p:hover{
    color: #eee;
    cursor: pointer;
}

.rodape li a:hover {
    color: #eee;
}


footer hr{
    height: 1px;
    background-color: rgb(12, 11, 11);
    border: none;
}


/* css da página torcidas */

.torcidas{
    width: 200px;
	float: left;
	margin: 0 20px 20px 20px;
}

.torcidas, p  {
    
    padding-top: 1em;
}

.principal, .principal-2, .principal-3{
    background: #000000;  
    padding-bottom: 40px;
   
}

.principal p, .principal-2 p, .principal-3 p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 4em;
    color: #d4d3d3;

}


/* CSS da página dos Ídolos */

.todos-conteudo{
    background: #000000;  
}


.header-idolos img{
    width: 100%;    
}


.conteiner{
    width: 940px;
    margin: 0 auto;
}

.conteiner h4{
    font-size: 35px;
    font-weight: bold;
    font-family: 'Tiro Devanagari Marathi', serif;
    margin: 1em;
    padding: 2px;
    box-shadow: 1px 4px 5px #000000;
    text-align: center;
    color: #d4d3d3;
    text-transform: uppercase;

}


.img-zico,.img-gabi,.img-adriano,.img-junior,.img-pet{
    width: 300px;
	float: left;
	margin: 10px 20px 20px 20px;
    padding-top: 10px;
}


.paragrafos-idolos{
    font-size: 22px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0 100px;
    color: #d4d3d3;
    padding: 10px 0 ;
}


hr{
    height: 4px;
    background-color: rgb(12, 11, 11);
    border: none;
}

.video{
    margin: 3em 0;
}


@media screen and (max-width: 844px){
    .caixa, .conteudo, .mapa,.titulos{
        width: auto;
    }

    .caixa img{
        width: 100px;
        margin-left: 50px;
    }


   nav {
      position: static;
      padding-bottom: 20px;
   }

   .texto-conteudo p {
       width: 90%;
   }
   
   
    .img-apoio{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    footer .img-apoio img{
        max-width: 100%;
    }

    .img-patria{
        width:auto;
        padding: 40px 0;
    }

    .imagem-flamengo{
        width: 100%;
        padding-bottom: 40px;
    }
}


@media screen and (max-width: 844px){

    h1, h2{
        width: 100%;
    }
   
    .torcidas{
        width:60%;
    }

    .principal,.principal-2, .principal-3{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .principal p, .principal-2 p, .principal-3 p{
      width: 90%;
      font-size: 17px;
      align-items: center;

    }

  
}


@media screen and (max-width: 844px){

    .conteiner, h4{
        width: auto;
    }
    
    .conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  
   .img-zico, .img-junior, .img-adriano, .img-pet, .img-gabi{
       max-width:60%;
       margin-left: 60px;
   }

   .paragrafos-idolos{
        width: 90%;
        font-size: 19px;
        align-items: center;

   }

   .video{
        width: 100%;
        margin: 3em 0;
   }

   footer hr{
    height: 5px;
    background-color: rgb(12, 11, 11);
    border: none;
}
   
}














